
    <div class="row home-bg">
        <div class="col-xs-12 col-sm-6"></div>
        <div class="col-xs-12 col-sm-6">
            <div class="col-xs-9 side-content">
                <div class="awesom">
                    5 Awesome AngularJS Features
                </div>
                <div style="font-size: 15px;">
                    AngularJS is a great JavaScript framework that has some very compelling features for not only developers,
                    but designers as well!
                </div>
                <div class="feature">
                    <ul>
                        <li>Two Way Data-Binding</li>
                        <li>Templates</li>
                        <li>Model View Controller</li>
                        <li>Dependency Injection</li>
                        <li>Directives</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
